div {
    font-family: "Roboto", sans-serif;
}
button {
    background-color: #1F2937;
    border: none;
    box-shadow: none;
    cursor: pointer;
}
html, body {
    background-color: #1F2937;
    padding: 0;
    width: 100%;
    height: 100%;
    margin:0;
}
.header {
    background: #1F2937;
    height: 70px;
    padding: 3px;
    margin: 20px;
}
.flex {
    display: flex;
}
.top {
    margin-top: 7px;
}
.bold {
    color: #F9FAF8;
    flex: 1;
    font-size: 24px;
}
.item {
    font-size: 18px;
    color: #E5E7EB;
    flex: 1;
    margin-right: 10px;
}
.first-half {
    background-color: #1F2937;
    padding: 45px;
    padding-top: 1px;
    margin-right: 0px;
    margin-left: 0px;
    border-color: #1F2937;
    height: 350px;
    width: 100%;
}
.hero {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}
.secondary {
    font-size: 18px;
    color: #E5E7EB;
}
.second-half {
    height: auto;
    width: 100%;
    flex-direction: column;
}
.flex-two {
    display: flex;
    margin: auto;
    width: 75%;
    align-items: center;
    justify-content: center;

}
.flex-vert {
    display: flex;
    margin: auto;
    flex-direction: column;
   
}
.color-one {
    background-color: #FFFFFF;
    padding: 50px;
    flex: 1 1 auto;
}
.color-two {
    background-color: #E5E5EB;
    padding: 20px;
    flex: 1 1 auto;
}
.item-two{
    font-size: 18px;
    color: #1F2937;
    flex: 1 1 auto;
}
.one-header {
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
    text-align: center;
}
.footer {
    background: #1F2937;
    
    height: 30px;
}
.footer .item{
    text-align: center;
    font-size: 18px;
    margin-top: 10px;
    color: #E5E7EB;
}
.squares {
    border: 2px solid #3882f6;
    border-radius: 15px; 
    width: 150px;
    height: 150px;
    flex: 1 1 auto;
    margin: 10px 20px;
}